/*
 *
 * GDAO S Theme styling
 *
 */

/*
 * Typography
 *
 */
body {
	background-image: url(../img/bg-main.png);
	background-repeat: repeat;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Gill Sans", sans-serif;
	font-size: 14px;
	color: #858585;
}
nav.navbar {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Gill Sans", sans-serif;
	font-size: 16px;
	font-weight: lighter;
}
a:link {
    color: #25aae0;
    text-decoration: none;
}
a:visited {
    color: #7298b9;
    text-decoration: none;
}
a:hover {
    color: #ea4147;
    text-decoration: none;
}

/*
 * Logo
 *
 */
a.navbar-brand {
	min-width: 157px; /* prevent flexbox from resizing */
	max-width: 157px;
	height: 159px;
	background-image: url(../img/logo-gdao-circ.png);
	text-indent: -9999px;
	z-index: 9;
}
@media (min-width: 576px) {
	a.navbar-brand {
		background-image: url(../img/logo-gdao.png);
		height: 176px;
		position: absolute;
		top: 18px;
	}
}


/*
 * Header
 *
 */
nav.navbar {
	background-color: #414142;
}
nav.navbar-gdao {
	border-bottom: 1px solid #000;
}
#navbar-primary a:link,
#navbar-primary a:visited {
	color: #c2c2c2;
}
#navbar-primary a:hover,
#navbar-primary a:active {
	color: #fff;
}
#navbar-secondary a {
	color: #fff;
}
#navbar-secondary a:hover {
	background-color: #4e4e4f;
}
#navbar-secondary ul {
	max-height: 123px;
}
.navbar-toggler {
	border: 1px solid #ccc;
	border-radius: 5px;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#navbar-secondary .flex-sm-column {
	position: relative;
	top: 14px;
	gap: 5px;
}
/* Non-mobile screens */
@media (min-width: 576px) {
	#navbar-primary {
		background-image: url(../img/bg-banner.png);
		background-repeat: repeat-x;
		background-position: top;
	}
	#navbar-secondary {
		height: 123px;
		max-width: 980px;
		margin: 0 auto !important;
	}
}

/*
 * Layout
 *
 */

#content {
	width: 980px;
	margin: 0 auto;
	padding: 30px 0;
	clear: both;
}
#content h2 {
	border-bottom: 1px solid #dadada;
	margin-bottom: 20px;
	padding: 10px 0 3px 0;
}
/*
 * Footer
 *
 */

footer {
	background-image: url(../img/bg-footer.png);
	background-repeat: repeat;
}

footer a {
	color: #878787 !important;
	background-image: url(../img/line-footer.png);
	background-position: bottom;
	background-repeat: repeat-x;
	display: block;
	padding: 12px 0 6px;
}

footer a:hover {
	color: #989898;
}

footer h3 {
	letter-spacing: .05em;
	text-transform: uppercase;
	padding: 6px;
	border: 1px solid #535353;
	font-size: 13px;
	margin: 16px 0 6px;
}

footer ul {
	list-style: none;
	padding: 0;
}

/*
 * Search Form
 *
 */

#search-form-standard {
	clear: both;
	margin-bottom: 25px;
}
.match-group-item {
	display: flex;
	margin-bottom: 25px;
}
.match-group-item > * {
	margin-right: 10px;
}
.match-group-item .form-select {
	width: auto;
	padding-right: 2.5em;
}
.match-group-add-filter {
	float: left;
	margin-right: 10px;
}
a.search-add-filter {
	color: #fff;
}
#search-form-show-link {
	color: #fff;
	margin-bottom: 10px;
}

/*
 * Search Results
 *
 */

.search-results-header,
.search-results-footer,
.search-results .resource-list,
aside.search-facets {
	border: 1px solid #cbcbcb;
	background-color: #f8f8f8;
}

.search-results-header {
	padding: 10px;
	margin-bottom: 12px;
}

.search-results-footer {
	padding: 10px;
	margin-top: 12px;
}

.search-results-count .paginator input,
.search-results-count .paginator label { display: none; }

.search-results-count a.btn { margin-right: 10px; }

.paginator a.disabled {
	color: #858585;
	border-color: #858585;
}

.paginator-input { position: relative; }

.paginator-input input {
	padding-right: 7rem;
	border: 1px solid #858585;
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.paginator-input label {
	position: absolute;
	right: 0;
	color: #858585;
}
.paginator-input label:hover {
	color: #858585;
	cursor: default;
}

.search-results-sort .form-floating > label {
	top: 3px;
	padding: .25rem 0 0 .5rem;
}

.search-results-sort .form-floating > .form-select {
	height: 38px;
	padding: .25rem 40px .25rem 5rem;
}

.search-results-layout,
.search-results h3 { display: none; }

.search-results .resource {
	border-bottom: 1px solid #cbcbcb;
	padding: 16px;
}

.search-results .resource:nth-child(odd){
	background-color: #fff;
}

.resource-thumbnail {
	float:left;
	margin-right: 16px;
}
.resource-thumbnail a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
  background-color: #eee;
}

.resource .metadata-set {
	margin-left: 216px;
	font-size: 0.9em;
}

.resource .metadata { margin-bottom: 10px; }

.resource .metadata span { display: block; }

aside.search-facets {
	order: 1;
	flex-basis: 30%;
	min-width: 294px;
	padding: 15px;
	margin-left: 20px;
}

.search-facets h2 {
	border-bottom: 1px solid #d6d6d6;
	margin-top: 12px;
	color: #444;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
}

.search-facet {
	padding: 0 0 16px;
	border-bottom: 1px solid #d6d6d6;
}

.search-facet h3 {
	padding: 14px 0px 7px;
	color: #646464;
	font-size: 17px;
}

.search-facet .search-facet-items { padding-left: 0; }

.search-facet-item { position: relative; }
.search-facet-item > span {
	display: block;
	margin: 0 0 3px 1.5em;
}
.search-facet-item a::before {
	position: absolute;
	left: 0;
	font-weight: 900;
}

/*
 * Item show page
 *
 */
body.show .media-render img {
	max-width: 90%;
	border: 3px solid #aaa;
	margin-bottom: 15px;
}
body.show .media-render {
	margin-bottom: 15px;
}
body.show .sidebar {
	padding-left: 16px;
  border-left: 1px solid #ddd;
}
#primary-values dd {
	display: list-item;
  list-style-type: circle;
  list-style-position: inside;
}
body.show .row.main {
	padding-bottom: 22px;
  margin-bottom: 22px;
  border-bottom: 1px solid #ddd;
}
body.show .oral-history {
	background-color: #f8f8f8;
  border: 1px solid #cbcbcb;
  padding: 20px;
}
.oral-history dt {
	color: #646464;
	font-size: 17px;
	font-weight: normal;
}
.oral-history dd {
	font-size: 17px;
	font-style: italic;
	line-height: 1.6em;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 25px 30px 40px 75px;
}
.oral-history dd:first-line {
	font-size: 20px;
	font-weight: bold;
}
div.website-card {
	display: block;
	padding: 20px;
}
.website-card > h3 {
	font-weight: normal;
  color: #646464;
  font-size: 17px;
}
.website-card > a {
	display: block;
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: bold;
}
.resource-embed-block {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #cbcbcb;
  padding: 20px 0;
}